{% extends 'template.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" >
        <input type="file" name="csv">

        <button type="submit">ok</button>
    </form>

{% endblock %}
